<a href="https://colab.research.google.com/github/Durgaprasad75123/22A81A0575/blob/main/DAY_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
b=25
print(a+b)
print(2**4)

30
16

In [ ]:
a=5
print("I am",a,"years old")

I am 5 years old

In [ ]:
#Relational
a=7
b=7
print(a==b)
print(a<=b)
print(a>=b)
print(a>b)
print(a<b)
print(a!=b)

True
True
True
False
False
False

In [ ]:
#logical
a=5
b=6
print((a>b)and (a<b))
print((a>b)or (a<b))

False
True

control flow

In [ ]:
#simpleif
a=3
if(a>0):
  print("Postive")

Postive

In [ ]:
#conditional if
#write a program to get a number is a postive or negative
a=int(input("Enter a value"))
if(a>0):
  print("Positive")
else:
  print("Negative")

Enter a value5
Positive

In [ ]:
#elif
a=int(input("Enter a value"))
if(a>0):
  print("positive")
elif(a<0):
  print("Negative")
else:
  print("Zero")

Enter a value75
positive

In [ ]:
#for loop
for i in range(1,11,1):
  print(i,"*",4,"=",i*4)

1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

In [ ]:
#Explicit Type Catsing
a="75"
a=int(a)
print(type(a))

<class 'int'>

In [ ]:
a="Python is easy"
print(a[0:6:1],a[7:9:1])

Python is

In [ ]:
#while loop
a=int(input("Enter a value"))
i=1
while(a>0 and i<=10):
  print(i,"*",a,"=",i*a)
  i=i+1

In [ ]:
#list
a=[]
for i in range(1,10,1):
  a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b=[1,2,3,4]
b.insert(1,3)
print(b)

[1, 3, 2, 3, 4]

In [ ]:
b.pop(1)
print(b)

[1, 2, 3, 4]

In [ ]:
b.remove(4)
print(b)

[1, 2, 3]

In [ ]:
print(max(b))
print(min(b))
print(len(b))

3
1
3

In [ ]:
#list comprehension
c=[1,2,3,4,5,6]
c=[i**2 for i in c if i>=3] #syntax: [output for  condition]
print(c)

[9, 16, 25, 36]

In [ ]:
#salaries of 5 employes in company is taken as a list the tax is 10% if the salary is less than<=50k else tax is  50%
sal=[67000,45000,89000,34000,50000]
tax=[]
for i in sal:
  if (i>50000):
    t=(i*(15/100))
    tax.append(t)
  elif(i<=50000):
    t=(i*(10/100))
    tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

In [ ]:
#salaries of 5 employes in company is taken as a list the tax is 10% if the salary is less than<=50k else tax is  50%
sal=[67000,45000,89000,34000,50000]
tax=[]
tax=[i*0.1 if i<=50000 else i*0.15 for i in sal]
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]